@import "config";
/*!
* www.KNACSS.com V3.0.3 (2014-05-19) @author: Raphael Goetter, Alsacreations (with help from Hugo Giraudel)
* Licence WTFPL http://www.wtfpl.net/
*/

/* ----------------------------- */
/* == soft reset                 */
/* ----------------------------- */

/* switching box model for all elements */
* {
	box-sizing: border-box;
}

/* soft reset */
html,
body {
	margin: 0;
	padding: 0;
}

ul,
ol {
	padding-left: 2em;
}

ul.unstyled {
	list-style: none;
}

img {
	height: auto;
	vertical-align: middle;
	border: 0;
}

audio,
canvas,
video {
	display: inline-block;
}

svg:not(:root) {
	overflow: hidden;
}

/* ----------------------------- */
/* == typography                 */
/* ----------------------------- */

html {
	
	/* set base font-size to equiv "10px", which is adapted to rem unit */
	font-size: 62.5%;
	
	/* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
	/* thanks to @guardian, @victorbritopro and @eQRoeil */
    font-size: calc(1em * 0.625);
	
	/* disallow text zooming on orientation change (non standard property) */
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
}

body {
	
	/* set body font-size in em (1.4em equiv "14px") */
	font-size: ($base-font-size / 10px) + em;
	
	background-color: $base-background;
	color: $base-color;
	font-family: $font-stack-common;
	line-height: $line-height;
}

/* font-sizing for content */
p,
.p-like,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details, 
figure {
	margin-top: 0.75em;
	margin-bottom: 0;
	line-height: $line-height;
}

h1, .h1-like {
	font-size: $h1-size;
}

h2, .h2-like {
	font-size: $h2-size;
}

h3, .h3-like {
	font-size: $h3-size;
}

h4, .h4-like {
	font-size: $h4-size;
}

h5, .h5-like {
	font-size: $h5-size;
}

h6, .h6-like {
	font-size: $h6-size;
}

/* alternate font-sizing */
.smaller {
	@include em($base-font-size / 1px - 4);
}

.small {
	@include em($base-font-size / 1px - 2);
}

.big {
	@include em($base-font-size / 1px + 2);
}

.bigger {
	@include em($base-font-size / 1px + 4);
}

.biggest {
	@include em($base-font-size / 1px + 6);
}

code, 
pre,
samp,
kbd {
	/* IE fix */
	white-space: pre-line;
	white-space: pre-wrap;
	font-family: $font-stack-monospace;
	line-height: normal;
}

em,
.em,
address,
cite,
dfn,
i,
var {
	font-style: italic;
}

.no-em {
	font-style: normal;
}

strong,
.strong {
	font-weight: bold;
}

.no-strong {
	font-weight: normal;
}

small,
sub,
sup {
	font-size: smaller;
}

/* ----------------------------- */
/* == hiding content             */
/* ----------------------------- */

/* hidden but not for assistance tools, Yahoo! method */
.visually-hidden { 
	position: absolute !important;
    border: 0 !important;
    height: 1px !important; 
    width: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
}

body > script {
	display: none !important;
}

@media (max-width: $small-screen) {
	.no-small-screen {
		display: none;
	}
}

@media (min-width: $large-screen) {
	.no-large-screen {
		display: none;
	}
}

/* ----------------------------- */
/* == browsers consistency       */
/* ----------------------------- */

/* avoid top margins on first content element */
p, 
.p-like, 
ul, 
ol, 
dl,
blockquote, 
pre,
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	&:first-child {
		margin-top: 0;
	}
}

/* avoid margins on nested elements */
li p,
li .p-like,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* max values */
img, 
table, 
td, 
blockquote, 
code, 
pre, 
textarea, 
input, 
video {
	max-width: 100%;
}

/* margin-bottom on tables */
table { 
	margin-bottom: $medium-value; 
}


/* ----------------------------- */
/* ==layout and modules          */
/* ----------------------------- */

/* float layout */
/* module, gains superpower "BFC" Block Formating Context */
.mod { 
	overflow: hidden;
}

/* blocks that needs to be placed under floats */
.clear,
.line,
.row {
	clear: both;
}

/* blocks that must contain floats */
.clearfix,
.line {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/* table layout */
.row {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.row > *,
.col {
	display: table-cell;
	vertical-align: top;
}

/* inline-block */
.inbl {
	display: inline-block;
	vertical-align: top;
}


/* alignments (blocks and inline) */
/* ------------------------------ */

/* left (or starting) elements */
.left,
.start {
	float: left;
}

img.left,
img.start  {
	margin-right: $small-value;
}

/* right (or ending) elements */
.right,
.end {
	float: right;
}

img.right,
img.end {
	margin-left: $small-value;
}

img.left, 
img.right,
img.start, 
img.end {
	margin-bottom: $tiny-value;
}

.center    { 
	margin-left: auto; 
	margin-right: auto; 
}

.txtleft   { 
	text-align: left; 
}

.txtright  { 
	text-align: right; 
}

.txtcenter { 
	text-align: center; 
}


// width helpers boolean
@if $enable-helpers-width == true {
	/* blocks widths (percentage and pixels) */
	.w10    { 
		width: 10%; 
	}
	
	.w20    { 
		width: 20%; 
	}
	
	.w25    { 
		width: 25%; 
	}
	
	.w30    { 
		width: 30%; 
	}
	
	.w33    { 
		width: 33.3333%; 
	}
	
	.w40    { 
		width: 40%; 
	}
	
	.w50    { 
		width: 50%; 
	}
	
	.w60    { 
		width: 60%; 
	}
	
	.w66    { 
		width: 66.6666%; 
	}
	
	.w70    { 
		width: 70%; 
	}
	
	.w75    { 
		width: 75%; 
	}
	
	.w80    { 
		width: 80%; 
	}
	
	.w90    { 
		width: 90%; 
	}
	
	.w100   { 
		width: 100%; 
	}

	.w50p   { 
		width: 50px; 
	}
	
	.w100p  { 
		width: 100px; 
	}
	
	.w150p  { 
		width: 150px; 
	}
	
	.w200p  { 
		width: 200px; 
	}
	
	.w300p  { 
		width: 300px; 
	}
	
	.w400p  { 
		width: 400px; 
	}
	
	.w500p  { 
		width: 500px; 
	}
	
	.w600p  { 
		width: 600px; 
	}
	
	.w700p  { 
		width: 700px; 
	}
	
	.w800p  { 
		width: 800px; 
	}
	
	.w960p  { 
		width: 960px; 
	}
	
	.mw960p { 
		max-width: 960px; 
	}
	
	.w1140p  { 
		width: 1140px; 
	}
	
	.mw1140p { 
		max-width: 1140px; 
	}
	
	.wauto  { 
		width: auto; 
	}
}


// spacing helpers boolean
@if $enable-helpers-spacing == true {
	/* spacing helpers
	p,m = padding,margin
	a,t,r,b,l = all,top,right,bottom,left
	s,m,l,n = small, medium, large, none
	*/
	.man { 
		margin: 0; 
	}
	
	.pan { 
		padding: 0; 
	}
	
	.mas { 
		margin: $small-value; 
	}
	
	.mam {
		margin: $medium-value; 
	}
	
	.mal { 
		margin: $large-value; 
	}
	
	.pas { 
		padding: $small-value; 
	}
	
	.pam { 
		padding: $medium-value; 
	}
	
	.pal { 
		padding: $large-value; 
	}

	.mtn { 
		margin-top: 0; 
	}
	
	.mts { 
		margin-top: $small-value; 
	}
	
	.mtm { 
		margin-top: $medium-value; 
	}
	
	.mtl { 
		margin-top: $large-value; 
	}
	
	.mrn { 
		margin-right: 0; 
	}
	
	.mrs {
		margin-right: $small-value; 
	}
	
	.mrm { 
		margin-right: $medium-value; 
	}
	
	.mrl { 
		margin-right: $large-value; 
	}
	
	.mbn { 
		margin-bottom: 0; 
	}
	
	.mbs { 
		margin-bottom: $small-value; 
	}
	
	.mbm { 
		margin-bottom: $medium-value; 
	}
	
	.mbl { 
		margin-bottom: $large-value; 
	}
	
	.mln { 
		margin-left: 0; 
	}
	
	.mls { 
		margin-left: $small-value; 
	}
	
	.mlm { 
		margin-left: $medium-value; 
	}
	
	.mll { 
		margin-left: $large-value; 
	}

	.ptn { 
		padding-top: 0; 
	}
	
	.pts { 
		padding-top: $small-value; 
	}
	
	.ptm { 
		padding-top: $medium-value; 
	}
	
	.ptl { 
		padding-top: $large-value; 
	}
	
	.prn { 
		padding-right: 0; 
	}
	
	.prs { 
		padding-right: $small-value; 
	}
	
	.prm { 
		padding-right: $medium-value; 
	}
	
	.prl { 
		padding-right: $large-value; 
	}
	
	.pbn { 
		padding-bottom: 0; 
	}
	
	.pbs { 
		padding-bottom: $small-value; 
	}
	
	.pbm { 
		padding-bottom: $medium-value; 
	}
	
	.pbl { 
		padding-bottom: $large-value; 
	}
	
	.pln { 
		padding-left: 0; 
	}
	
	.pls { 
		padding-left: $small-value; 
	}
	
	.plm { 
		padding-left: $medium-value; 
	}
	
	.pll { 
		padding-left: $large-value; 
	}
}
