@import "config";
/* ----------------------------- */
/* ==booleans                    */
/* ----------------------------- */
// skip-links boolean
@if $enable-skip-links == true {
	/* styling skip links */
	.skip-links {
		position: absolute;

		a {
			position: absolute;
			overflow: hidden;
			clip: rect(1px, 1px, 1px, 1px);
			padding: 0.5em;
			background: black;
			color: white;
			text-decoration: none;
		
			&:focus {
				position: static;
				overflow: visible;
				clip: auto;
			}
		}
	}
}

// hyphens boolean
@if $enable-hyphens == true {
	@media (max-width: $small-screen) {
		/* you shall not pass */
		div, 
		textarea, 
		table, 
		td, 
		th, 
		code, 
		pre, 
		samp {
			word-wrap: break-word;
			hyphens: auto;
		}
	}
}
