@import "config";
/* ----------------------------- */
/* ==gmaps support               */
/* ----------------------------- */
// google maps boolean
@if $enable-gmaps == true {
	/* Google Gmap3 bug fix on images */
	.gm-style img {
		height: 100%;
	}
	
	:not(.gm-style) img {
		height: auto;
	}
	
	.gm-style img,
	.gmnoscreen img,
	.gmnoprint img {
		max-width: none !important;
	}
}
