@import "config";
/* ----------------------------- */
/* ==IE6, IE7, IE8 support       */
/* ----------------------------- */
// IE6, 7, 8 support boolean
@if $enable-ie678 == true {
	$bf: $base-font-size / 1px;
	/* IE678 support */
	.ie678 h1, .ie678 .h1-like {
		$val: $h1-size / 1rem; 
		$em : $val * 10 / $bf;
		font-size: $em +0em; 
	}
	
	.ie678 h2, .ie678 .h2-like {
		$val: $h2-size / 1rem;
		$em : $val * 10 / $bf;
		font-size: $em +0em;
	}
	
	.ie678 h3, .ie678 .h3-like {
		$val: $h3-size / 1rem;
		$em : $val * 10 / $bf;
		font-size: $em +0em;
	}
	
	.ie678 h4, .ie678 .h4-like {
		$val: $h4-size / 1rem;
		$em : $val * 10 / $bf;
		font-size: $em +0em;
	}
	
	.ie678 h5, .ie678 .h5-like {
		$val: $h5-size / 1rem;
		$em : $val * 10 / $bf;
		font-size: $em +0em;
	}
	
	.ie678 h6, .ie678 .h6-like {
		$val: $h6-size / 1rem;
		$em : $val * 10 / $bf;
		font-size: $em +0em;
	}
	
	.ie678 img {
		width: auto; /* @bugfix for IE8 */
	}
	
	.ie678 .gm-style img {
		height: 100%;
	}

	/* hasLayout for IE6/IE7 */
	.clearfix,
	.line,
	.mod,
	.row,
	.col {
		*zoom: 1;
	}
	
	/* inline-block and table-cell for IE6/IE7 */
	/* warning: .col needs width on IE6/IE7 */
	.btn,
	.col,
	.inbl {
		*display: inline;
		*zoom: 1;
	}
	.visually-hidden { 
		*clip: rect(1px 1px 1px 1px); 
	}
	
	/* IE8 grid hack */
	.ie8 .grid > *,
	.ie8 [class*="autogrid"] > * {
		letter-spacing: -0.31em;
		text-rendering: optimizespeed;
	}
	
	.ie8 .grid > * > *,
	.ie8 [class*="autogrid"] > * > *{
		letter-spacing: normal;
		word-spacing: normal;
		text-rendering: auto;
	}

	/* IE7 grid hack */
	.grid > * > *,
	[class*="autogrid"] > * > *{
		*display: inline;
		*zoom: 1;
	}
	
	/* forms */
	 /* Corrects excess space around these inputs in IE8/9 */
	.ie678 input[type="checkbox"],
	.ie678 input[type="radio"] {
		padding: 0;
	}
	
	/* Removes default vertical scrollbar on empty textarea in IE6/7/8/9 */
	.ie678 textarea {
		overflow: auto;
	}

	/* Active box-sizing for IE6/IE7 */
	/* @source https://github.com/Schepp/box-sizing-polyfill */
	/*
	.ie67 * {
		behavior: url(/lib/box-sizing-polyfill/boxsizing.htc);
	}
	*/
}